@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<style>
    .container{
    background-image:url("");
    
    }
    .btn{
    border-radius:7px;
    }
</style>

<div class="container mt-5">
    <div class="row p-4">
        <div class="col-md-6">
            <h1>Welcome to Our Website</h1>
            <p>To give a survey please Navogate to The TakeSurvey Page or click Get Started.</p>
            <a href="https://localhost:7189/DropDown/Create" class="btn btn-primary">Get Started</a>
        </div>
        <div class="col-md-6">
            <img src="https://cdn.pixabay.com/photo/2020/10/01/08/28/smileys-5617876_1280.jpg" class="img-fluid" alt="Placeholder Image">
        </div>
    </div>
</div>
